/* Hiding Admin Bar on mobile
     ============== */

@include media-breakpoint-down(md) {
    html #wpadminbar {
        display: none;
    }
  
    body.admin-bar {
        margin-top: -46px;
    }

    html {
        margin-top: 0 !important;
    }
}

@include media-breakpoint-up(md) {
    .admin-bar .site-header {
        top: 32px;
    } 
}


/*====================================================================
  # Header
====================================================================*/
.site-header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  height: $headerheight;
  background-color: #fff;
        
  a {  
      color: $black;
  }

  .container {
    max-height: 100%; 
    height: 100%;
    justify-content: space-between;
    align-items: center;
    display: flex;
  }

    .site-branding {
      max-height: 100%;
      height: 100%; 

      .custom-logo-link {
        max-height: 100%;
        height: 100%;

        img { 
            width: auto;  
            height: 100%;
            max-height: 100%;  
            padding: 10px 0;
        }
      }
    }

    .fmb { 
        padding: 0.5em 1em;  
        display: none;
    }
}


#cssmenu, #cssmenu ul, #cssmenu li, #cssmenu a, #mobilecssmenu, #mobilecssmenu ul, #mobilecssmenu li, #mobilecssmenu a {
    border: none;
    margin: 0;
    padding: 0;
    line-height: 1;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
/*====================================================================
  # Desktop
====================================================================*/

/*======================
  # Menu First Level
======================*/

@include media-breakpoint-up(lg) {
    .site-header {

        .container { 
            justify-content: space-between; 
        }

        .fmb { 
            display: inline-block; 
        }

    }

    .mobile-menu, #mobilecssmenu {
        display: none;
    }

    #site-navigation { 
        margin-left: initial;
        height: 100%; 
    }

    #cssmenu {
        height: 100%;
        display: block;
        padding: 0;
        margin: 0;
        width: auto;

        > ul { 
          height: 100%;
          list-style: inside none; 
          padding: 0; 
          margin: 0; 

            > li { 
              height: 100%;
              list-style: inside none;
              margin: 0;
              float: left;
              display: flex;
              align-items: center;
              position: relative;

                    &:hover, &:focus-within {
                        background-color: #BE1E2D26;
                    }

                    > a {
                        outline: none;
                        display: flex;
                        align-items: center;
                        position: relative;
                        padding: 0.5rem 1em;
                        text-align: center;
                        text-decoration: none;
                        height: 100%;
                        width: 100%;


                    }
                
                &.menu-item-has-children {

                    > a:after {
                        font-family: FontAwesome;
                        content: "\f078";
                        margin-left: 5px;
                        font-size: 12px;
                        font-weight: 400;
                        transition: transform 0.15s ease;
                    }

                    &:hover {

                        > a:after {
                            transform: rotate(180deg); 
                        }
                    }
                }
            }
        }
    }
   
  /*======================
    # Menu Submenu
  ======================*/

    #cssmenu {

        ul {

            li.has-sub:hover, li.has-sub:focus {

                > a:after { 
                    top: 0; 
                    bottom: 0;
                }

                > a {
                    z-index: 999;
                }
            }

            li > ul, li > div {
                position: relative;
                width: auto;
                z-index: 999;
                left: 0;
                top: 0;
                display: none;
            }

            li {

                > ul {
                    width: 300px;

                    li {
                        display: block;
                        list-style: inside none;
                        padding: 0;
                        margin: 0;
                        position: relative;
                        min-height: 100%;
                        
                        a {
                          outline: none;
                          display: block;
                          position: relative;
                          margin: 0;
                          padding: 8px 20px;
                          font-size: 16px;
                          color: $black;
                          text-decoration: none;
            
                            i {
                                margin-left: 5px; 
                                text-decoration: none;
                            }

                            .dropdown {
                                margin-left: 10px;
                                float: right;
                                width: 50px;
                                text-align:right;
                                margin-right: -20px;
                                padding: 0 20px 5px 20px; 
                            }
                        }
                    }
                }
            }

            ul a:hover { 
                color: $primary;
            }
        }

    /*======================
      # Dropdown Child Menu
    ======================*/
        > ul { 

            > li.has-sub {

                > a:hover:before { 
                    -webkit-transform: rotate( -180deg );
                    transform: rotate( -180deg );            
                    transition: transform 150ms ease;
                    top: 0px;
                }

                >ul {
                    position: absolute;
                    top: 100%;
                    padding: 10px 0;
                    z-index: 999;
                    display: none;
                    box-shadow: 0px 3px 6px #00000029;

                    ul { 
                        border-top: solid 1px #eee; 

                        span { 
                            padding-left: 15px; 
                        }
                    }
                }

              >li.menu-item-has-children {

                    li.menu-item-has-children span { 
                        padding-left: 5px; 
                    }
                }
            }

            > li.has-sub:hover, > li.has-sub:focus {

                > a:before { 
                    top: 19px;
                }

                >ul {  
                    background-color: #fff;
                }

                > ul, > div { 
                    display: block; 
                }
            }   
        }
    }
}

/*====================================================================
  # Mobile
====================================================================*/

@include media-breakpoint-down(lg) {

  .main-navigation {
      display: none;
  }
    
  /*=======================
    # Mobile  Menu First Level
  ======================*/
  .mobile-menu {
      z-index: 1000; 
      -webkit-transition: all 1s ease-in-out 5s;
      transition: all 1s ease-in-out 5s;

      .fa-window-close { 
          font-size: 25px; 
      }
  }

  #mobilecssmenu.open {    
    z-index: 999;  
    background-color: #fff;
    transition: none;
  }

  #mobilecssmenu {
    z-index: -1;
    padding: 5px 0 0 0;
    margin: 0;
    width: 100%;
    position: fixed;
    top: $headerheight;
    left: 0;
    height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling:touch;

    a { 
      color: #000; 
    }

    >ul {
      display: none;
      width: 100%;
      list-style: inside none; padding: 0; margin: 0;
      background-color: transparent !important;

      >li {
        list-style: inside none;
        background-color: #fff;
        overflow: auto;

        a span:first-child{
          padding-left: 2em;
        }

        a { 
          padding: 20px; display: block;
        }
      }

      li.mobile-search { 
        padding: 0; 
      }
    } 
  }

  /*====================================================================
    # Mobile Menu Submenu
  ====================================================================*/
  #mobilecssmenu {
      ul {
        padding: 20px 0;

        li.has-sub {
          width: 100%; 
          z-index: 1;
          overflow: auto;
          padding-top: 0;

          a { 
            padding: 20px; 

            .fa { 
              float: right; color: #000; font-size: 18px; width: 75px; 
              -webkit-transition: all 1s ease-in-out 5s;
              transition: all 1s ease-in-out 5s;
              padding-left: 0;
              text-align: right;

              .fas.fa-chevron-down { 
                font-size: 16px; 
              }

              .fas.fa-external-link-alt { 
                float: none; margin-left: 10px; 
              }
            }

          }
          
          >ul > ul { 
            background-color: #333; 
          }

          >ul li { 
            padding-top: 0; 

            a { 
              padding-top: 5px; 
              padding-left: 20px;   
              font-size:  18px; 
            } 
          }

          ul { 
            display: none; 
          }

        }
        
        li.split-menu { 

          a[href="#"] {
            font-weight: 700; color: $green; padding-top: 8px;
          } 
        }

        li.mobile-search {
          height: 150px;
          
          .search-toggle { 
            display: none; 
          }

          form { 
            margin: 1em; 
            text-align: center;

            input[type="search"] { 
              padding: 5px;  
              border-radius: 10px;
            }

            input[type="submit"] { 
              margin-left: 10px; 
              background-color: $green; 
              color: #fff; 
            }

          }
        }
      }
      > ul{ 
        padding-top: 0;
        > li.has-sub { 
            a{ display: block;  }
            li a span{ padding-left: 50px; } 
        }
        li li{ list-style: none; }
      }
    }

    .menu-main-menu-1[style="display:none;"] {
      li.mobile-search{ display: none; }
    }
  }