/*==================================
  # Post Loop
===================================*/

nav.pagination {
    width: 100%;
}

nav.pagination li {
    list-style: none;
    display: inline-block;
}

.blog-category a {
  display: inline-block;
}